{% extends 'base.html' %}

{% block content %}
    {% include "header.html" %}
    <h1>{{ page}} </h1>
    <h2>{{ book.title }}</h2>
    <h4>Author</h4>
    <p>{{ book.author }}</p>
    <h4>Description</h4>
    <p>{{ book.description }}</p>
    <h4>ISBN-10</h4>
    <p>{{ book.isbn10 }}</p>
    <h4>ISBN-13</h4>
    <p>{{ book.isbn13 }}</p>
    <h4>Publish Date</h4>
    <p>{{ book.publish_date }}</p>
    <h4>Edition</h4>
    <p>{{ book.edition }}</p>
    <h4>Best Seller</h4>
    <p>{{ book.best_seller }}</p>

    <div class="scrollable">
        <h4>Reviews:</h4>
        <ul id="reviews-list">
            {% for review in reviews %}
                <li>{{ review.author }}: {{ review.text }}</li>
            {% endfor %}
        </ul>
        <button class="btn btn-primary" id="load-more-reviews">Lihat Review Lainnya</button>
    </div>
    
    <script>
        async function getReviews() {
            return fetch("{% url 'book:get_reviews' book.id %}").then((res) => res.json());
        }
    
        async function refreshReviews() {
            const reviewsList = document.getElementById("reviews-list");
            const reviews = await getReviews();
            
            reviewsList.innerHTML = "";
            reviews.forEach((review) => {
                const li = document.createElement("li");
                li.textContent = `${review.author}: ${review.text}`;
                reviewsList.appendChild(li);
            });
        }
    
        refreshReviews();
    
        const loadMoreReviewsButton = document.getElementById("load-more-reviews");
        loadMoreReviewsButton.addEventListener("click", () => {
            // Mengarahkan pengguna ke halaman review.html untuk melihat review lengkap
            window.location.href = `/reviews/${book.id}`;
        });
    </script>

    
    


    <!-- <a href="/">Back to Home</a> -->
{% endblock content %}
