{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include "header.html" %}
<link rel="stylesheet" href="{% static 'forum.css' %}">
<script src="{% static 'forum.js' %}"></script>
<body>

    <h1 class="center-align">Forum</h1>
    <h2 class="center-align"> Forum Discussion of {{book.title}} by {{book.author}}</h2>
    <h5 class="center-align">{{username}} terakhir login pada</h5>
    <h5 class="center-align">{{last_login}}</h5>

    <div class="center-button">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Forum</button>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Forum</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="form" onsubmit="return false;">
                        {% csrf_token %}
                        {{form.as_p}}
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add New Forum</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div id="forum_container">
        </div>
        <div id="reply_container">
            <div class="frame chat-frame chat-frame-container">
                <h1>Replies</h1>
                <div id="reply_box"></div>
            </div>
            <div id="form_container"></div>
        </div>
    </div>

</body>

<script>
    async function getForums() {
        return fetch("{% url 'forum:get_forum_json' book.pk %}").then((res) => res.json())
    }

    refreshForums()

    function addForum() {
        fetch("{% url 'forum:add_forum_ajax' book.pk %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshForums)

        document.getElementById("form").reset()
        return false
    }

    document.getElementById("button_add").onclick = addForum


    async function getReplies(forum_id) {
        const reply = fetch(`get-reply/${forum_id}/`).then((res) => res.json())
        return reply
    }

    function addReply(forum_id) {
        const message = document.getElementById("message_input").value;
        fetch(`create-reply-ajax/${forum_id}/`, {
            method: "POST",
            body: JSON.stringify({ forum_id: forum_id, message: message }),
        })
            .then((response) => {
                if (response.status === 201) {
                    // If the reply is created successfully, refresh the replies.
                    refreshReplies(forum_id);
                }
            })
            .catch((error) => {
                console.error("Error:", error);
            });
    }

</script>
{% endblock content %}