{% extends 'base.html' %}

{% block content %}
    {% include "header.html" %}
    <h1>{{page}}</h1>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed hendrerit dolor. Vestibulum vel fringilla orci, non varius nunc. Praesent vehicula, justo eu dictum consequat, risus libero interdum purus, sed dignissim quam lorem non nunc. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Proin in augue eu ex imperdiet consectetur vel in purus. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Vivamus vulputate augue sit amet est suscipit, eu tempus justo hendrerit.</p>
    <p style="font-weight: 300; font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <h2>Data Diri</h2>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit Profile by AJAX</button>
    <table id="profile"></table>
    <h2>History Ulasan</h2>
    <div id="reviews" class = card-container></div>

    <!-- modal edit profile -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal read -->
    <div class="modal fade" id="readModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Read</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-content" id ="readModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal edit review -->
    <div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="review-editModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="review-form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="review_rate" class="col-form-label">Rate (0-5 stars):</label>
                            <input type="range" class="form-control" id="review_rate" name="review_rate" min="0" max="5" value="0" id="rating-slider"></input>
                            <div class="star-info">
                                <p id="zero-star">0</p>
                                <p id="five-star">5</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="review_description" class="col-form-label">{{ form_review.description.label_tag }}</label>
                            <textarea class="form-control" id="review_description" name="review_description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit-review" data-bs-dismiss="modal">Edit Review</button>
                </div>
            </div>
        </div>   
    </div>
    
    <script>
        async function openReadModal(id) {
            // You need to create an instance of the modal
            document.getElementById("readModalBody").innerHTML = ""
            let item = await getReview(id)
            let htmlString = `
                <h1>${item[0].book__title}</h1>
                <p>${item[0].star}</p>
                <p>${item[0].description}</p>
                <p>${item[0].date_added}</p>
            `
            document.getElementById("readModalBody").innerHTML = htmlString
            const modal = new bootstrap.Modal(document.getElementById("readModal"));
            modal.show();
        }
        async function openEditModal(event, id) {
            event.stopPropagation();
            let item = await getReview(id)
            document.getElementById("review_rate").value = item[0].rate;
            document.getElementById("review_description").textContent = item[0].description;
            document.getElementById("review-editModalLabel").textContent = 'Edit Review for ' + item[0].book__title;
            document.getElementById("submit-review").onclick = function() {
                editReview(id);
            };
            const modal = new bootstrap.Modal(document.getElementById("editReviewModal"));
            modal.show();
        }
    
        async function getProfile() {
            return fetch("{% url 'user_profile:get_profile' %}").then((res) => res.json())
        }
        async function getReviews() {
            return fetch("{% url 'user_profile:get_reviews' %}").then((res) => res.json())
        }
        async function getReview(id){
            return fetch(`get_review/${id}/`).then((res) => res.json())
        }
        async function editProfile() {
            fetch("{% url 'user_profile:edit_profile_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#formEdit'))
            }).then(refreshProfile)

            document.getElementById("formEdit").reset()
            return false
        }
        async function editReview(id) {
            fetch(`edit_review/${id}/`, {
                method: "POST",
                body: new FormData(document.querySelector('#review-form'))
            }).then(refreshReviews)

            document.getElementById("review-form").reset()
            return false
        }
        async function deleteReview(event, id) {
            event.stopPropagation();
            fetch(`delete_review/${id}/`, {
                method: 'POST',
            }).then(refreshReviews)
        }
        document.getElementById("button_edit").onclick = editProfile
        async function refreshProfile() {
            document.getElementById("profile").innerHTML = ""
            let products = await getProfile()
            let htmlString = `<tr>
                <th>Name</th>
                <th>Description</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.description}</td>
            </tr>` 
            })
            
            document.getElementById("profile").innerHTML = htmlString
        }
        function stopPropagation(event){
            event.stopPropagation();
        }
        async function refreshReviews() {
            document.getElementById("reviews").innerHTML = ""
            let products = await getReviews()
            let htmlString = ``
            products.forEach((item) => {
                htmlString += `
                <div class="card">
                    <div class="card-body" id="review-${item.pk}" onclick="openReadModal(${item.pk})">
                        <p>${item.book__title}<p>
                        <p>${item.star} Star</p>
                        <p>${item.description}</p>
                        <p>${item.date_added}</p>
                        <a href="/books/${item.book__pk}" onclick="stopPropagation(event)" class="btn btn-primary">Lihat Buku</a>
                        <a onclick="deleteReview(event, ${item.pk})" class="btn btn-danger">Delete</a>
                        <button type="button" class="btn btn-primary" onclick="openEditModal(event, ${item.pk})">Edit</button>
                    </div>
                </div>` 
            })

            document.getElementById("reviews").innerHTML = htmlString
        }

        refreshProfile()
        refreshReviews()
    </script>
{% endblock content %}