{% extends 'base.html' %}

{% block content %}
    {% include "header.html" %}
    <h1>{{page}}</h1>
    <h2>Description</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed hendrerit dolor. Vestibulum vel fringilla orci, non varius nunc. Praesent vehicula, justo eu dictum consequat, risus libero interdum purus, sed dignissim quam lorem non nunc. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Proin in augue eu ex imperdiet consectetur vel in purus. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Sed auctor hendrerit purus, ac aliquet urna sollicitudin a. Vivamus vulputate augue sit amet est suscipit, eu tempus justo hendrerit.</p>
    <p style="font-weight: 300; font-style: italic;">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <table id="profile"></table>

    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit Product by AJAX</button>

    <!-- modal edit -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        async function getProfile() {
            return fetch("{% url 'user_profile:get_profile' %}").then((res) => res.json())
        }
        function editProduct() {
            fetch("{% url 'user_profile:edit_profile_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#formEdit'))
            }).then(refreshProducts)

            document.getElementById("form").reset()
            return false
        }
        document.getElementById("button_edit").onclick = editProduct
        async function refreshProducts() {
            document.getElementById("profile").innerHTML = ""
            let products = await getProfile()
            console.log(products)
            let htmlString = `<tr>
                <th>Name</th>
                <th>Description</th>
            </tr>`
            products.forEach((item) => {
                htmlString += `\n<tr>
                <td>${item.fields.name}</td>
                <td>${item.fields.description}</td>
            </tr>` 
            })
            
            document.getElementById("profile").innerHTML = htmlString
        }

        refreshProducts()
    </script>
{% endblock content %}