{% extends 'base.html' %}

{% block content %}
    {% include "header.html" %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .scroll-container {
            height: 200px; /* Adjust the height as needed */
            overflow-y: scroll;
            border: 1px solid #ddd; /* Add a border with a light gray color */
            border-radius: 5px; /* Add rounded corners */
            padding: 10px; /* Add some padding to the container */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
        }

        .scroll-container::-webkit-scrollbar {
            width: 12px; /* Width of the scrollbar */
        }

        .scroll-container::-webkit-scrollbar-thumb {
            background-color: #888; /* Color of the scrollbar thumb */
            border-radius: 6px; /* Rounded corners for the scrollbar thumb */
        }

        .scroll-container::-webkit-scrollbar-thumb:hover {
            background-color: #555; /* Color of the scrollbar thumb on hover */
        }
        .overflow-text{
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 100%;
        }
        .card-special:hover {
        background-color: rgba(0, 0, 0, 0.1); /* Adjust the color and opacity as desired */
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <h1>{{ page }}</h1>
            </div>
        </div>
        <div class="row" style = "margin:20px 0;">
            <div class="col-md-4">
                <h2>Data Diri</h2>
                <div id="profile"></div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editModal">Edit Profile</button>
            </div>
            <div class="col-md-8">
                <h2>History Reviews</h2>
                <div class="scroll-container">
                    <div id="reviews" class="card-container"></div>
                </div>
            </div>
        </div>
        <div class="row" style = "margin:20px 0;">
            <div class="col-md-4">
                <h2>History Forums</h2>
                <div class="scroll-container">
                    <div id="forums" class="card-container"></div>
                </div>
            </div>
            <div class="col-md-8">
                <h2>History Replies</h2>
                <div class="scroll-container">
                    <div id="replies" class="card-container"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- modal edit profile -->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Edit</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="formEdit" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="name" class="col-form-label">Name:</label>
                            <input type="text" class="form-control" id="name" name="name"></input>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="col-form-label">Description:</label>
                            <textarea class="form-control" id="description" name="description"></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" id="button_edit" data-bs-dismiss="modal">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal read -->
    <div class="modal fade" id="readModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Read</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-content" id ="readModalBody">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- modal edit review -->
    <div class="modal fade" id="editReviewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="review-editModalLabel"></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="review-form" onsubmit="return false;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="rate" class="col-form-label">Rate (0-5 stars):</label>
                            <input type="range" class="form-control" id="star" name="star" min="0" max="5" value="0" id="rating-slider" onchange="refreshStarText()"></input>
                            <p id="star-text">0 stars</p>
                        </div>
                        <div class="mb-3">
                            <label for="review_description" class="col-form-label">{{ form_review.description.label_tag }}</label>
                            <!-- <textarea class="form-control" id="review_description" name="review_description"></textarea> -->
                            {{ form_review.description }}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="submit-review" data-bs-dismiss="modal">Edit Review</button>
                </div>
            </div>
        </div>   
    </div>
    
    <!-- Delete Confirmation Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <h2>Are you sure you want to delete this review?</h2>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="confirmDeleteBtn" data-bs-dismiss="modal">Yes, Delete</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        async function openReadModal(id) {
            // You need to create an instance of the modal
            document.getElementById("readModalBody").innerHTML = ""
            let item = await getReview(id)
            const bookStarRating = generateStarRating(item[0].book__rating);
            const userStarRating = generateStarRating(item[0].star);
            let htmlString = `
                <h1>${item[0].book__title} ${bookStarRating}</h1>
                <p>You rated ${userStarRating} ${item[0].star} Star</p>
                <p style="font-style: italic; font-weight: 300px;>You commented "${item[0].description}"</p>
                <p class="text-secondary">${item[0].date_added}</p>
            `
            document.getElementById("readModalBody").innerHTML = htmlString
            const modal = new bootstrap.Modal(document.getElementById("readModal"));
            modal.show();
        }
        async function openRepliesModal(id) {
            // You need to create an instance of the modal
            document.getElementById("readModalBody").innerHTML = ""
            let item = await getReply(id)
            let user_pk = "{{ user.pk|safe }}"
            let creator = ""
                if (item[0].forum__user__pk == user_pk){
                    creator = "You"
                } else {
                    creator = item.forum__user__username
                }
            let htmlString = `
                <div class="card mb-2">
                    <div class="card-body d-flex flex-column">
                        <p class="my-0">You replied "${item[0].message}"</p>
                        <p class="text-secondary my-0" style="font-size: 12px; text-align: right">on forum ${item[0].forum__subject} created by ${creator}</p>
                    </div>
                </div>
            `
            document.getElementById("readModalBody").innerHTML = htmlString
            const modal = new bootstrap.Modal(document.getElementById("readModal"));
            modal.show();
        }
        async function openEditModal(event, id) {
            event.stopPropagation();
            let item = await getReview(id)
            document.getElementById("star").value = item[0].star;
            document.getElementById("star-text").textContent = item[0].star + ' stars';
            document.getElementById("review_description").textContent = item[0].description;
            document.getElementById("review-editModalLabel").textContent = 'Edit Review for ' + item[0].book__title;
            document.getElementById("submit-review").onclick = function() {
                editReview(id);
            };
            const modal = new bootstrap.Modal(document.getElementById("editReviewModal"));
            modal.show();
        }
        async function openDeleteModal(event, id) {
            event.stopPropagation();
            document.getElementById("confirmDeleteBtn").onclick = function() {
                deleteReview(id)
            };
            const modal = new bootstrap.Modal(document.getElementById("deleteModal"));
            modal.show();
        }
    
        async function getProfile() {
            return fetch("{% url 'user_profile:get_profile' %}").then((res) => res.json())
        }
        async function getReviews() {
            return fetch("{% url 'user_profile:get_reviews' %}").then((res) => res.json())
        }
        async function getForums() {
            return fetch("{% url 'user_profile:get_forum' %}").then((res) => res.json())
        }
        async function getReplies() {
            return fetch("{% url 'user_profile:get_reply' %}").then((res) => res.json())
        }
        async function getReview(id){
            return fetch(`get_review/${id}/`).then((res) => res.json())
        }
        async function getReply(id){
            return fetch(`get_reply/${id}/`).then((res) => res.json())
        }

        async function editProfile() {
            fetch("{% url 'user_profile:edit_profile_ajax' %}", {
                method: "POST",
                body: new FormData(document.querySelector('#formEdit'))
            }).then(refreshProfile)

            document.getElementById("formEdit").reset()
            return false
        }
        document.getElementById("button_edit").onclick = editProfile

        async function editReview(id) {
            console.log(id)
            fetch(`edit_review/${id}/`, {
                method: "POST",
                body: new FormData(document.querySelector('#review-form'))
            }).then(refreshReviews)

            document.getElementById("review-form").reset()
            return false
        }
        async function deleteReview(id) {
            fetch(`delete_review/${id}/`, {
                method: 'POST',
            }).then(refreshReviews)
        }
        
        async function refreshProfile() {
            document.getElementById("profile").innerHTML = ""
            let products = await getProfile()
            let htmlString = ""
            let username = "{{ user.username|safe }}"
            products.forEach((item) => {
                htmlString += `
                <h2 style="font-size: 20px">Welcome ${username} (${item.fields.name}),</h2> 
                <p>you describe yourself as:</p>
                <p style="font-style: italic; font-weight: 300px;">${item.fields.description}</p>
                ` 
            })
            
            document.getElementById("profile").innerHTML = htmlString
        }
        function stopPropagation(event){
            event.stopPropagation();
        }
        async function refreshReviews() {
            document.getElementById("reviews").innerHTML = ""
            let products = await getReviews()
            let htmlString = ``
            products.forEach((item) => {
                const userStarRating = generateStarRating(item.star);
                const bookStarRating = generateStarRating(item.book__rating);
                htmlString += `
                <div class="card card-special mb-2">
                    <div class="card-head"></div>
                    <div class="card-body" id="review-${item.pk}" onclick="openReadModal(${item.pk})">
                        <div class="d-flex justify-content-between">
                            <div class="col-8">
                                <h2 class="overflow-text" style="font-size: 28px;">${item.book__title}</h2>
                            </div><div class="col-4 d-flex justify-content-end">
                                <p style="font-size: 24px;">${bookStarRating} ${item.book__rating} Star</p>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mb-0">
                            <p> You rated ${userStarRating} ${item.star} Star</p>
                            <p class="text-secondary">${item.date_added}</p>
                        </div>
                        <p class="overflow-text" style="font-style: italic; font-weight: 300px;">You commented "${item.description}"</p>
                        <a href="/books/${item.book__pk}" onclick="stopPropagation(event)" class="btn btn-primary">Lihat Buku</a>
                        <a onclick="openDeleteModal(event, ${item.pk})" class="btn btn-danger">Delete</a>
                        <button id="edit-review-${item.pk}" type="button" class="btn btn-primary" onclick="openEditModal(event, ${item.pk})">Edit</button>
                    </div>
                </div>
` 
            })

            document.getElementById("reviews").innerHTML = htmlString
        }
        async function refreshForums() {
            document.getElementById("forums").innerHTML = ""
            let products = await getForums()
            let htmlString = ``
            products.forEach((item) => {
                htmlString += `
                <div class="card mb-2">
                    <div class="card-body" id="forum-${item.pk}">
                        <div class="d-flex justify-content-between">
                            <div class="col-8">
                                <h2 style="font-size: 24px;">${item.subject}</h2>
                            </div><div class="col-4 d-flex justify-content-end">
                                <p class="text-secondary" style="font-size: 12px;">created by You</p>
                            </div>
                        </div>
                        <p style="font-weight: 300; font-style: italic;">${item.description}</p>
                        <p class="text-secondary">${item.date_added}</p>
                    </div>
                </div>` 
            })

            document.getElementById("forums").innerHTML = htmlString
        }
        async function refreshReplies() {
            document.getElementById("replies").innerHTML = ""
            let products = await getReplies()
            let htmlString = ``
            let user_pk = "{{ user.pk|safe }}"
            products.forEach((item) => {
                let creator = ""
                if (item.forum__user__pk == user_pk){
                    creator = "You"
                } else {
                    creator = item.forum__user__username
                }
                htmlString += `
                <div class="card card-special mb-2">
                    <div class="card-body d-flex flex-column" id="forum-${item.pk}" onclick="openRepliesModal(${item.pk})">
                        <p class="overflow-text my-0">You replied "${item.message}"</p>
                        <p class="text-secondary my-0" style="font-size: 12px; text-align: right">on forum ${item.forum__subject} created by ${creator}</p>
                    </div>
                </div>`
            })

            document.getElementById("replies").innerHTML = htmlString
        }
        function refreshStarText() {
            const slider = document.getElementById("star");
            document.getElementById("star-text").innerHTML = `${slider.value} stars`;
        }
        function generateStarRating(starCount) {
            starCount = Math.round(starCount)
            const filledStars = '<i class="fa fa-star"></i>'.repeat(starCount);
            const emptyStars = '<i class="fa fa-star-o"></i>'.repeat(5 - starCount);
            return filledStars + emptyStars;
        }

        refreshProfile()
        refreshReviews()
        refreshForums()
        refreshReplies()
    </script>
{% endblock content %}