{% extends 'base.html' %}

{% block content %}
    {% include "header.html" %}
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .container .add-review-button {
                text-align: center;
            }
            #reviews-container {
                margin-top: 50px;
                display: flex;
                flex-direction: column-reverse;
                margin-right: 25px;
            }
            .review-card {
                display: flex;
                flex-direction: row;
                width: 100%;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                margin-right: auto;
                margin-left: 10px;
                margin-bottom: 25px;
                color: rgb(31, 28, 28);
                padding: 25px;
                text-align: left;
            }
            .left {
                width: 20%;
                margin-right: 40px;
            }
            .right {
                margin-left: 10px;
            }
            .review-desc {font-style: italic;}
            .filter-review {
                text-align: center;
                margin-top: 15px;
                margin-bottom: 15px;
            }
        </style>
    </head>
    <body>
        <div class="container">        
        <h1>{{page}}</h1>
        <br>
        <h2 style="text-align: center;">Reviews of {{ book.title }} by {{ book.author }}</h2>

        <div class="filter-review">
            <label for="select-filter">Filter reviews by:</label>
            <select id="select-filter" onchange="filterReview()">
                <option value="date">Date posted (newest-oldest)</option>
                <option value="5">5 stars</option>
                <option value="4">4 stars</option>
                <option value="3">3 stars</option>
                <option value="2">2 stars</option>
                <option value="1">1 stars</option>
                <option value="0">0 star</option>
            </select>
        </div>
        <div class="add-review-button">
            <button type="button" class="btn btn-primary" id="add-new-review" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Review</button>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Review for {{book.title}}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form id="review-form" onsubmit="return false;">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="rate" class="col-form-label">Rate (0-5 stars):</label>
                                <input type="range" class="form-control" id="star" name="star" min="0" max="5" value="0" id="rating-slider" onchange="refreshStarText()"></input>
                                <p id="star-text">0 stars</p>
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label">Description:</label>
                                <textarea class="form-control" id="description" name="description"></textarea>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="submit-review" data-bs-dismiss="modal">Add Review</button>
                    </div>
                </div>
            </div>   
        </div> 
        <div id="reviews-container"></div>
    </div>

        <script>
            async function getReviews(filter ='') {
                let url = "{% url 'reviews:get_reviews_json' book.pk %}?sort=date_added";
                if (filter != '') {
                    url += `&filter=${filter}`;
                }

                return fetch(url).then((res) => res.json());
            }

            async function getUserReviews() {
                const userReviews = fetch("{% url 'reviews:get_user_review' book.pk %}").then((res) => res.json());
                console.log(userReviews)

                return userReviews;
            }

            function filterReview() {
                const filter = document.getElementById("select-filter").value;
                refreshReviews(filter);
            }

            function refreshStarText() {
                const slider = document.getElementById("star");
                document.getElementById("star-text").innerHTML = `${slider.value} stars`;
            }

            function generateStarRating(starCount) {
                const filledStars = '<i class="fa fa-star"></i>'.repeat(starCount);
                const emptyStars = '<i class="fa fa-star-o"></i>'.repeat(5 - starCount);
                return filledStars + emptyStars;
            }

            async function checkReviewByUser() {
                const reviews = await getUserReviews();
                if (reviews.length > 0) {
                    document.getElementById("add-new-review").disabled = true;
                }
            }

            async function refreshReviews(filter = '') {
                checkReviewByUser(); // cek apakah user udh pernah ngereview buku tsb atau belum
                document.getElementById("reviews-container").innerHTML = ""
                const reviews = await getReviews(filter);
                console.log(reviews)

                let htmlString = ``
                reviews.forEach((review) => {
                    const starRating = generateStarRating(review.star);
                    htmlString += `\n
                        <div class="review-card">
                            <div class="left">
                                <div class="review-user">
                                    <h4>by ${review.profile__name}</h4>
                                </div>
                                <div class="review-date">
                                    <p>posted on ${review.date_added}</p>
                                </div>
                            </div>
                            <div class="right">
                                <div class="review-stars">
                                    <h5>${starRating} (${review.star} stars)</h5>
                                </div>
                                <div class="review-desc">
                                    <p>"${review.description}"</p>
                                </div>
                            </div>
                        </div>
                    `;
                })
                document.getElementById("reviews-container").innerHTML = htmlString
            }

            refreshReviews()
            function addReview() {
                fetch("{% url 'reviews:add_reviews_ajax' book.pk %}", {
                    method: "POST",
                    body: new FormData(document.querySelector('#review-form'))
                }).then(response => {
                    const filter = document.getElementById("select-filter").value;
                    document.getElementById("star-text").innerHTML = `0 stars`;
                    refreshReviews(filter)
                })

                document.getElementById("review-form").reset()
                return false
            }

            document.getElementById("submit-review").onclick = addReview
        </script>
    </body>
{% endblock content %}